
.dash form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.radios {
  justify-content: center;
}

.dash form #title {
  padding-right: 10px;
}

.dash form textarea {
  text-align: left;
  padding: 8px;
  max-height: 60px;
}

.radios label {
  padding: 10px 0 ;
  font-style: normal;
  text-align: center;
}

.radios label input {
  margin: 0 10px;
  height: 16px;  
}

.dash div.fields {
  /* flex-direction: row; */
  max-width: none;
}


table {
  width: 100%;
  text-align: center;
}