
.pesquisa h1 {
  text-align: center;
  padding: 16px;
}

.pesquisa p {
  text-align: center;
  padding: 8px;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pesquisa .fields {
  max-width: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.fields label {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.pesquisa .fields input {
  padding: 10px;
  height: 40px;
  border: none;
  background: #EFFBFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;  
}

.pesquisa .fields textarea {
  text-align: left;
  padding: 6px;
}

.pesquisa .radios {
  max-width: 300px;
  width: 80%;
  display: flex;
}

.radios label {
  padding: 10px;
  font-style: normal;
  text-align: center;
}

.radios label input {
  margin: 0 10px;
  height: 16px;  
}

.fields textarea {
  background-color: #EFFBFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.promotion {
  display: flex;
  flex-direction: column;
}

p.cuponKey {
  max-width: 300px;
  width: 80%;
  padding: 24px;
  margin-top: 24px;
  background-color: rgba(196, 208, 230, 0.924);
  border-top: 1px solid #8f90fd;
  border-bottom: 1px solid #8f90fd;
  align-self: center;
  justify-self: center;
}

p.cuponKey strong {
  font-size: 24px;
  line-height: 60px;
}