.footer {
  width: 100%;
  background-color: #717171;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.footer p {
  padding: 8px;
  font-size: 14px;
  color: white;
  text-align: center;
}

.footer p a {
  text-decoration: none;
  padding: 3px;
  font-size: 14px;
  color: white;
}

div img {
  width: 180px;
  padding:  10px 24px;
  align-self: center;
}